.App {
  font-family: sans-serif;
  text-align: left;
  margin-right: 6em;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top {
  padding: 20px;
  position: absolute;
  height: 50vh;
  top: 0;
  left: 0;
  right: 0;
}
.bottom {
  padding: 20px;
  position: absolute;
  height: 50vh;
  top: 50vh;
  left: 0;
  right: 0;
}

.ProseMirror {
  margin-left: 70px;
  padding: 5px 10px;
  font-family: courier;
  outline: solid 2px #2f83f9;
  border-radius: 2px;
}

p {
  position: relative;
}

.annotation {
  background: #9def8f;
}

span.widget {
  background: #9def8f;
  position: absolute;
  left: -70px;
  top: 0px;
  border-radius: 5px;
  padding: 2px 3px;
  user-select: none;
}
